<html>
<body>
  <app-custlayout></app-custlayout>
  <div>

    <table style="text-align:center" class="mar" id="size" width="1200" height="70" border="1">

      <tr>
        <th style="text-align:center">Contents</th>
        <th style="text-align: center">Watch</th>
        <th style="text-align: center">Remove</th>
      </tr>
      <tr *ngFor=" let r of list">
        <td>{{r}}</td>

        <td><button class="button" (click)="watch(r)">Watch Now</button></td>

        <td><button class="button" (click)="remove(r)">remove</button></td>
      </tr>

    </table>
  </div>






</body>

</html>
